<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /silviociuffardi/

  # Ensure directory slash if requesting a directory
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^(.*[^/])$ $1/ [L,R=301]

  # SPA Routing Fallback to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

DirectoryIndex index.html
